@import "config";

@mixin flexbox {
  .flexbox & {
    @content;
  }
}

@mixin no-flexbox {
  .no-flexbox & {
    @content;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;

  @include flexbox {
    display: flex;
    flex-direction: column;
  }

  @include no-flexbox {
    padding-bottom: 12em;
  }
}

.app-container {
  @include flexbox {
    flex: 1;
    display: flex;
    flex-direction: column;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.top {
  background-color: $primaryDarkPurple;
  height: 3em;

  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 40px 40px;

  padding-left: 10px;
}

.logo {
  float: left;
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.title {
  color: $whiteText;
  float: left;
  font-weight: bolder;
  font-size: large;
  line-height: 3em;
  margin-left: 10px;
  letter-spacing: 1px;
}

#container {
  overflow-y: auto;
  box-sizing: border-box;
  background-color: $backgroundBeige;

  @include flexbox {
    display: flex;
    flex-direction: row;
    flex: 2;
  }

  @include no-flexbox {
    position: absolute;
    bottom: 10em;
    top: 3em;
    width: 100%;
  }
}

#code {
  min-height: 20em;

  @include flexbox {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @include no-flexbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
  }
}

#code .ace_editor,
#spec .ace_editor {
  box-sizing: border-box;
  min-height: 17em;
  font-size: 1em;
  border: none;
  padding: 10px 10px 10px 20px;

  @include no-flexbox {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 3em;
    width: 100%;
  }
}

#code footer {
  padding: 10px;

  @include no-flexbox {
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
  }
}

#code header, #spec header {
  color: $blackText;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;

  @include no-flexbox {
    height: $headerHeight;
  }
}

#spec header {
  margin-left: 5px;
}

#spec {
  border-left: 5px dashed #e68a00;
  min-height: 20em;
  box-sizing: border-box;

  @include flexbox {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @include no-flexbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
  }
}

.spec-body {
  overflow-y: auto;

  @include flexbox {
    padding-bottom: 52px;
  }

  @include no-flexbox {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
  }
}

.code, .spec-body {
  @include flexbox {
    flex: 1;
    display: flex;
    flex-direction: column;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.ace_editor {
  @include flexbox {
    flex: 1;
  }
}

.container-header {
  width: 50%;
  background-color: $primaryMidPurple;
  float: left;
  height: $headerHeight;
  line-height: $headerHeight;
  font-weight: bold;
  position: relative;
}

.container-header::after {
  content: "";
  width: 0;
  height: 0;
  border-top: $headerHeight solid $primaryMidPurple;
  border-right: $headerHeight solid transparent;
  position: absolute;
  left: 100%;
}

.footer {
  background-color: #222222;
  box-sizing: border-box;
  flex-basis: 30%;
  overflow-x: hidden;
  overflow-y: scroll;

  @include no-flexbox {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
  }
}

.submit-button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: #ffad33;
  color: $whiteText;
  border-radius: 4px;
  float: right;
  margin-right: 20px;
  border: solid 1px #D18515;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
}

.submit-button:hover {
  background: #E89C2C;
  border: solid 1px #B37212;
  text-decoration: none;
}

.submit-button:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #D18E2A;
  border: solid 1px #9C6310;
}

* {
  box-sizing: border-box;
}

.log_node {
  margin-top: 4px;
  padding-left: 20px;
}

.status-passed {
  color: #7CFC00;
}

.status-failed {
  color: #FF0000;
}

.status-pending {
  color: #00FFFF;
}

.status-error {
  color: #FF4500;
}

.status-stack_trace {
  color: #777;
  padding-left: 20px;
}

.status-error.is-stack_trace,
.status-failed.is-stack_trace {
  padding-left: 40px;
}

.status-error.is-error_message,
.status-failed.is-error_message {
  margin: 12px 0;
}

.summary {
  margin-top: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

  .clearfix {
    display: block;
  }
/* close commented backslash hack */
